@media (max-width:1047.98px){
  .works {

		&__container {
      height: 2475px;
		}

		
    &__wrapper{
      position: absolute;
      top: 100px;
      
    }
		

		

		&__card-right-top {
      left: 0;
		}

	

		&__card-title-left {
      left: 270px;
		}

	

		&__card-left-top {
      top: 600px;
		}

	

		&__card-right-bot {
      top: 1187px;
      left: 0;
		}

		&__card-left-bot {
       top: 1766px; 
		}

		
}


}
@media (max-width:992.98px){
  .sqward {


		&__img2 {
      display: none;
		}	
}

}
@media (max-width:768.98px){
    .page {

		&__title {
            font-size: 50px;
		}

}
.sqward {

  &__box {
    display: none;
  }

  
}
.works{
  &__card-title{
    left: 0;
  }
}
.team{
  &__wrapper{
    justify-content: center;
  }
}

}
@media (max-width:550.98px){
   
   
    .menu {
    
            &__list {
                gap: 10px 30px;
            }
    
          
    }
    
    .page {

		&__title {
            font-size: 30px;
		}

}
.sqward {
  margin-top: 50px;
  &__img {
    left: 50%;
    transform: translateX(-50%);
  }
  &__text{
    margin-left: 10px;
  }

  
}
.services{
  margin-top: -135px;
 
}
.works{
  &__card-title{
    font-size: 30px;
  }
  &__wrapper{
    top: 170px;
  }
  
  &__card{
    img{
      width: 320px;
    }
  }
  &__text{
    width: 270px;
  }

}
}