@media (max-width:992.98px){
  .sqward {


		&__img2 {
      display: none;
		}	
}

}
@media (max-width:768.98px){
    .page {

		&__title {
            font-size: 50px;
		}

}
.sqward {

  &__box {
    display: none;
  }

  
}

}
@media (max-width:550.98px){
    .header {
    }
   
    .menu {
    
            &__list {
                gap: 10px 30px;
            }
    
          
    }
    
    .page {

		&__title {
            font-size: 30px;
		}

}
.sqward {
  margin-top: 50px;
  &__img {
    left: 50%;
    transform: translateX(-50%);
  }
  &__text{
    margin-left: 10px;
  }

  
}

}