.services {
    margin-top: 117px;
    &__title {
        padding-top: 129px;
    }

    &__wrapper {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        
    }

    &__card {
        padding: 50px 48px 35px 44px;
        width: 373px;
        &:hover{
            border-bottom: 3px solid #70BF73;
        }
      
    }

    &__card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-title {
        color: #252525;
        line-height: normal;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        position: relative;
        &::before{
            position: absolute;
            content:'';
            width: 35px;
            height: 2px;
            background: #252525;
            left: 0;
            bottom: -15px;
        }
    }

    &__card-img {
        width: 50px;
        height: 50px;
        background-color:#fff;
        filter: drop-shadow(0px 0px 20px #DBDBDB);
        border-radius: 100%;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
    }

    &__text {
        color: #777;
        font-family: OpenSans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 2.08; /* 208.333% */
        letter-spacing: 1.008px;
        margin-top: 19px;
    }

    &__card-link {
        color: #252525;
        font-size: 10px;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 19px;
       
    }
}

