.title{
    color: #252525;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3.072px;
    position: relative;
    &::before{
        position: absolute;
        content:'';
        width: 45px;
        height: 2px;
        background: #252525;
        bottom: -15px;
        left: 0;
    }
}